In [1]:
#Dependencies
import pandas as pd

In [2]:
#Read the csv to a pandas dataframe
data_2019 = pd.read_csv ('YearlyData2015-19/2019.csv')
data_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
#Adding Year column
data_2019['Year']=2019

#Adding Empty column
data_2019["Empty"] = ""

In [4]:
#Look at the dataframe statistics
data_2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.0
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603,2019.0
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538,0.0
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2019.0
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000,2019.0
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500,2019.0
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250,2019.0
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000,2019.0

In [5]:
data_2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Empty
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019,
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019,
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019,
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019,
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019,
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019,
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019,
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019,

In [6]:
#Drop missing values
df_dropna=data_2019.dropna()

In [7]:
#Read the csv to a pandas dataframe
data_2018 = pd.read_csv ('YearlyData2015-19/2018.csv')
data_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [8]:
#Adding Year column
data_2018['Year']=2018

#Adding Empty column
data_2018["Empty"] = ""

In [9]:
#Look at the dataframe statistics
data_2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.0
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000,2018.0
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492,0.0
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.0
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000,2018.0
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000,2018.0
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000,2018.0
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000,2018.0

In [10]:
data_2018

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Empty
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018,
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018,
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018,
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018,
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,

In [11]:
#Drop missing values
df_dropna=data_2018.dropna()

In [ ]:
data_2018.merge(data_2019, left_on='', right_on='rkey')

In [13]:
merged = pd.merge(data_2018, data_2019, how="left", on=["Empty"])
merged

,Overall rank_x,Country or region_x,Score_x,GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Generosity_x,Perceptions of corruption_x,Year_x,...,Overall rank_y,Country or region_y,Score_y,GDP per capita_y,Social support_y,Healthy life expectancy_y,Freedom to make life choices_y,Generosity_y,Perceptions of corruption_y,Year_y
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,...,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,...,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,...,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,...,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,...,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24331,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,...,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
24332,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,...,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
24333,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,...,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
24334,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,...,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
24335,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,...,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019